* {
    text-decoration: none;
    font-family: 'montserrat';
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.container {
    width: 100vw;
    height: 100vh;
    color: #090707;
}

.innercontent {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: #E8EFF9;

}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 4%;
    height: 100%;
    overflow-x: hidden;
    background-color: #fff;
    transition: width 1s ease-out;


}
nav:hover{
    display: flex;
    flex-direction: column;
    width: 10%;

}
.inner{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 95%;
}
.menu-content{
    flex-basis: 20%;
    font-size: 1.5vw;
    display: flex;
    width: 100%;
    justify-content:space-between;
    align-items: center;
    flex-direction: column;
}

.logo{
    font-size: 1.3vw;
    color: #FFF;
}
.logo span{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #63B0BF;
    width: 2.5vw;
    height: 2.5vw;
}
.logo iconify-icon{
    font-size: 2vw;
}
.menu{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    gap: 1.5vw;
    text-transform: capitalize;
}
.menu a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    height: 1.5vw;
    width: 97%;
    color: #A7B1C8;
}
.menu a span{
    display: flex;
    align-items: center;
    justify-content: center;
}
.tooltip{
    display: none !important;

}
nav:hover .tooltip{
    display: flex !important;
}
nav:hover a{
    width: 98%;
}
a:hover{
    color: #63B0BF;
}
.active{
    border-right: 3px solid #63B0BF;
}
.right-part{
    flex-basis: 92%;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    gap: 2vw;
}
.mini-nav{
    flex-basis: 15%;
    margin-top: 1vw;
    width: 95%;
    background-color: #FFF;
}
.appointments{
    display: flex;
    flex-direction: column;
    gap: 2vw;
    width: 95%;
}
.title{
    width: 100%;
}
.title span{
    font-size: 1.4vw;
    width: 100%;
    font-weight: 600;
    color: #5a6E9C;
    text-transform: uppercase;
    line-height: .2vw;

}
.elements{
}
table{
    width: 100%;
    text-align: left;
    font-size: 1.3vw;
}
thead, th{
    font-weight: 500;
}